<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Default suit">
    <test verbose="2" name="Allure report with testNG">
        <classes>
            <class name="com.nguyet.test.selenium4test.SearchBookingPageTest"/>
        </classes>
    </test>
</suite>